<div>
  <h2 id="page-heading" data-cy="MembreEquipeHeading">
    <span jhiTranslate="doctorantApp.membreEquipe.home.title">Membre Equipes</span>

    <div class="" id="no-result" *ngIf="chefEquipes && chefEquipes[0] && chefEquipes[0].equipe !== undefined">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.membreEquipe.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-membre-equipe"
        [routerLink]="['/membre-equipe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doctorantApp.membreEquipe.home.createLabel"> Create a new Membre Equipe </span>
      </button>
    </div>
</div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chefEquipes![0]=== undefined">
    <span jhiTranslate="">Vous etes pas un chef d'equipe , vous avez pas le privilege de creer des equipes </span>
  </div>


  <div class="table-responsive" id="entities" *ngIf="membreEquipes && membreEquipes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.membreEquipe.dateDebut">Date Debut</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.membreEquipe.extraUser">Extra User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let membreEquipe of membreEquipes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/membre-equipe', membreEquipe.id, 'view']">{{ membreEquipe.id }}</a>
          </td>
          <td>{{ membreEquipe.dateDebut | formatMediumDate }}</td>

          <td>
            <div *ngIf="membreEquipe.extraUser">
              <a [routerLink]="['/extra-user', membreEquipe.extraUser?.id, 'view']">{{ membreEquipe.extraUser?.nomArabe}}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/membre-equipe', membreEquipe.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>



              <button type="submit" (click)="delete(membreEquipe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
