<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-chef-equipe-heading"
        data-cy="ChefEquipeCreateUpdateHeading"
        jhiTranslate="doctorantApp.chefEquipe.home.createOrEditLabel"
      >
        Create or edit a Chef Equipe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.chefEquipe.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateDebut')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.chefEquipe.dateFin" for="field_dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dateFin')!.invalid && (editForm.get('dateFin')!.dirty || editForm.get('dateFin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateFin')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.chefEquipe.extraUser" for="field_extraUser">Extra User</label>
          <select class="form-control" id="field_extraUser" data-cy="extraUser" name="extraUser" formControlName="extraUser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="extraUserOption.id === editForm.get('extraUser')!.value?.id ? editForm.get('extraUser')!.value : extraUserOption"
              *ngFor="let extraUserOption of extraUsersCollection; trackBy: trackExtraUserById"
            >
              {{ extraUserOption.nomArabe }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.chefEquipe.equipe" for="field_equipe">Equipe</label>
          <select class="form-control" id="field_equipe" data-cy="equipe" name="equipe" formControlName="equipe">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="equipeOption.id === editForm.get('equipe')!.value?.id ? editForm.get('equipe')!.value : equipeOption"
              *ngFor="let equipeOption of equipesCollection; trackBy: trackEquipeById"
            >
              {{ equipeOption.nom }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
