<div>
  <h2 id="page-heading" data-cy="ChercheurExterneHeading">
    <span jhiTranslate="doctorantApp.chercheurExterne.home.title">Chercheur Externes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.chercheurExterne.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chercheur-externe"
        [routerLink]="['/chercheur-externe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doctorantApp.chercheurExterne.home.createLabel"> Create a new Chercheur Externe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chercheurExternes?.length === 0">
    <span jhiTranslate="doctorantApp.chercheurExterne.home.notFound">No chercheurExternes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chercheurExternes && chercheurExternes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chercheurExterne.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chercheurExterne.prenom">Prenom</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chercheurExterne.email">Email</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chercheurExterne.pays">Pays</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chercheurExterne.universite">Universite</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chercheurExterne.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chercheurExterne of chercheurExternes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chercheur-externe', chercheurExterne.id, 'view']">{{ chercheurExterne.id }}</a>
          </td>
          <td>{{ chercheurExterne.nom }}</td>
          <td>{{ chercheurExterne.prenom }}</td>
          <td>{{ chercheurExterne.email }}</td>
          <td>{{ chercheurExterne.pays }}</td>
          <td>{{ chercheurExterne.universite }}</td>
          <td>
            {{ chercheurExterne.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chercheur-externe', chercheurExterne.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chercheur-externe', chercheurExterne.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chercheurExterne)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
