<div>
  <h2 id="page-heading" data-cy="CursusHeading">
    <span jhiTranslate="doctorantApp.cursus.home.title">Cursuses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.cursus.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cursus"
        [routerLink]="['/cursus/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doctorantApp.cursus.home.createLabel"> Create a new Cursus </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cursuses?.length === 0">
    <span jhiTranslate="doctorantApp.cursus.home.notFound">No cursuses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cursuses && cursuses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.cursus.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.cursus.nbFormation">Nb Formation</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cursus of cursuses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cursus', cursus.id, 'view']">{{ cursus.id }}</a>
          </td>
          <td>{{ cursus.nom }}</td>
          <td>{{ cursus.nbFormation }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/cursus', cursus.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/cursus', cursus.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cursus)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
