<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="formation">
      <h2 data-cy="formationDetailsHeading"><span jhiTranslate="doctorantApp.formation.detail.title">Formation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ formation.id }}</span>
        </dd>
        <dt><span jhiTranslate="doctorantApp.formation.nom">Nom</span></dt>
        <dd>
          <span>{{ formation.nom }}</span>
        </dd>
        <dt><span jhiTranslate="doctorantApp.formation.niveau">Niveau</span></dt>
        <dd>
          <span>{{ formation.niveau }}</span>
        </dd>
        <dt><span jhiTranslate="doctorantApp.formation.nbAnnee">Nb Annee</span></dt>
        <dd>
          <span>{{ formation.nbAnnee }}</span>
        </dd>
        <dt><span jhiTranslate="doctorantApp.formation.rang">Rang</span></dt>
        <dd>
          <span>{{ formation.rang }}</span>
        </dd>
        <dt><span jhiTranslate="doctorantApp.formation.cursus">Cursus</span></dt>
        <dd>
          <div *ngIf="formation.cursus">
            <a [routerLink]="['/cursus', formation.cursus?.id, 'view']">{{ formation.cursus?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/formation', formation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
