<div>
  <h2 id="page-heading" data-cy="LaboratoireHeading">
    <span jhiTranslate="doctorantApp.laboratoire.home.title">Laboratoires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.laboratoire.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-laboratoire"
        [routerLink]="['/laboratoire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doctorantApp.laboratoire.home.createLabel"> Create a new Laboratoire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="laboratoires?.length === 0">
    <span jhiTranslate="doctorantApp.laboratoire.home.notFound">No laboratoires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="laboratoires && laboratoires.length > 0 ">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.laboratoire.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.laboratoire.abreviation">Abreviation</span></th>
          <th scope="col"><span>Chef Laboratoire</span></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor=" let laboratoire of laboratoires ; trackBy: trackId" data-cy="entityTable" >
          <td>
            <a [routerLink]="['/laboratoire', laboratoire.id, 'view']">{{ laboratoire.id }}</a>
          </td>
          <td>{{ laboratoire.nom }}</td>
          <td>{{ laboratoire.abreviation }}</td>
          <td><span class="badge bg-info" *ngIf="laboratoire.extrauser!=undefined" >{{ laboratoire.extrauser.nomArabe }}</span></td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/laboratoire', laboratoire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/laboratoire', laboratoire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(laboratoire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
