<div>
  <h2 id="page-heading" data-cy="DoctorantHeading">
    <span jhiTranslate="doctorantApp.doctorant.home.title">Doctorants</span>

    <div class="d-flex justify-content-end me-2" *jhiHasAnyAuthority="['ROLE_RESPONSABLE']">
      <button class="btn btn-success me-2" type="submit"
              (click)="reinscriptionbtn()">Ré-inscription
      </button>

      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.doctorant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-doctorant"
        [routerLink]="['/doctorant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doctorantApp.doctorant.home.createLabel"> Create a new Doctorant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="doctorants?.length === 0">
    <span jhiTranslate="doctorantApp.doctorant.home.notFound">No doctorants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="doctorants && doctorants.length > 0">
    <table class="table table-striped" datatable [dtOptions]="dtOptions" aria-describedby="page-heading">
      <thead>
      <tr>
        <th scope="col"><span jhiTranslate="global.field.id">Photo</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.doctorant.cne">Cne</span></th>
        <th scope="col"><span>Nom </span></th>
        <th scope="col"><span>Prenom</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.doctorant.cin">Cin</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.doctorant.anneeInscription">Annee Inscription</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.doctorant.genre">Sexe</span></th>
        <th scope="col"><span>Bourse</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.doctorant.sujet">Sujet</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.doctorant.cursus">Cursus</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.doctorant.etatDossier"
                              *jhiHasAnyAuthority="['ROLE_RESPONSABLE']">Etat Dossier</span></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doctorant of doctorants; trackBy: trackId" data-cy="entityTable">

        <td>
          <img *ngIf="doctorant.user!.imageUrl" [src]="decode(doctorant.user!.imageUrl)"
               style=" border: 1px solid #ddd;border-radius: 4px; padding: 5px;width: 100px;height:100px;">
        </td>
        <td>{{ doctorant.cne }}</td>
        <td>{{ doctorant.user?.firstName }}</td>
        <td>{{ doctorant.user?.lastName }}</td>
        <td>{{ doctorant.cin }}</td>
        <td>{{ doctorant.anneeInscription }}</td>
        <td>{{ doctorant.genre }}</td>
        <td *ngIf="doctorant.id"><p *ngIf="bourses.includes(doctorant.id)==true" style="color: green"> Boursier</p>
          <p *ngIf="bourses.includes(doctorant!.id)==false" style="color: red"> Non boursier</p>
          <span *ngIf="doctorant.id">
            <button
              *ngIf=" bourses.includes(doctorant!.id) == false"
              type="submit"
              (click)="bourse(doctorant)"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">bourse</span>
            </button>
              </span>
        </td>

        <td>
          <div *ngIf="doctorant.sujet">
            <a [routerLink]="['/sujet', doctorant.sujet?.id, 'view']">{{ doctorant.sujet?.titre }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="doctorant.cursus">
            <a [routerLink]="['/cursus', doctorant.cursus?.id, 'view']">{{ doctorant.cursus?.nom }}</a>
          </div>
        </td>
        <td *jhiHasAnyAuthority="['ROLE_RESPONSABLE']">
          <button
            class="btn btn-danger btn-sm"
            (click)="setActive(doctorant, 1)"
            *ngIf="doctorant.etatDossier==0"
          >
            Non Approuvé
          </button>
          <button
            class="btn btn-success btn-sm"
            (click)="setActive(doctorant, 0)"
            *ngIf="doctorant.etatDossier==1"
          >
            Approuvé
          </button>
          <p style="color: #ff2e2e;" *ngIf="doctorant.etatDossier==3">Ce dossier est retiré</p>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/doctorant', doctorant.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <span *jhiHasAnyAuthority="['ROLE_RESPONSABLE']">

</span>
            <button *ngif="false" type="submit" (click)="delete(doctorant)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
            <div *jhiHasAnyAuthority="['ROLE_RESPONSABLE']">
              <button *ngIf="doctorant.etatDossier!=3" type="submit" (click)="setActive(doctorant, 3)"
                      class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Desistement</span>
              </button>
              <button
                class="btn btn-success btn-sm"
                (click)="setActive(doctorant, 0)"
                *ngIf="doctorant.etatDossier==3"
              >
                Rendre
              </button>
            </div>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
