<div>
  <h2 id="page-heading" data-cy="FormationSuivieHeading">
    <span>Formations suivies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.formationSuivie.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formation-suivie"
        [routerLink]="['/formation-suivie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Ajouter une nouvelle formation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formationSuivies?.length === 0">
    <span jhiTranslate="doctorantApp.formationSuivie.home.notFound">No formationSuivies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formationSuivies && formationSuivies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span>Durée</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.formationSuivie.attestation">Attestation</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.formationSuivie.date">Date</span></th>
          <th scope="col"><span>Formation doctorale</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.formationSuivie.doctorant" *ngIf="false">Doctorant</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formationSuivie of formationSuivies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/formation-suivie', formationSuivie.id, 'view']">{{ formationSuivie.id }}</a>
          </td>
          <td>{{ formationSuivie.duree }}</td>
          <td>
            <a
              *ngIf="formationSuivie.attestation"
              (click)="openFile(formationSuivie.attestation, formationSuivie.attestationContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="formationSuivie.attestation"
              >{{ formationSuivie.attestationContentType }}, {{ byteSize(formationSuivie.attestation) }}</span
            >
          </td>
          <td>{{ formationSuivie.date | formatMediumDate }}</td>
          <td>
            <div *ngIf="formationSuivie.formationDoctoranle">
              <a [routerLink]="['/formation-doctoranle', formationSuivie.formationDoctoranle?.id, 'view']">{{
                formationSuivie.formationDoctoranle?.thematique
              }}</a><span *ngIf="formationSuivie.formationDoctoranle?.thematique==='Autre' "> ({{formationSuivie.titre}})</span>
            </div>
          </td>
          <td  *ngIf="false">
            <div *ngIf="formationSuivie.doctorant">
              <a [routerLink]="['/doctorant', formationSuivie.doctorant?.id, 'view']">{{ formationSuivie.doctorant?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/formation-suivie', formationSuivie.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/formation-suivie', formationSuivie.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(formationSuivie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
