<div>
  <h2 id="page-heading" data-cy="EquipeHeading">
    <span jhiTranslate="doctorantApp.equipe.home.title">Equipes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.equipe.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-equipe"
        [routerLink]="['/equipe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doctorantApp.equipe.home.createLabel"> Create a new Equipe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="equipes?.length === 0">
    <span jhiTranslate="doctorantApp.equipe.home.notFound">No equipes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="equipes && equipes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.equipe.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.equipe.abreviation">Abreviation</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.equipe.laboratoire">Laboratoire</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipe of equipes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/equipe', equipe.id, 'view']">{{ equipe.id }}</a>
          </td>
          <td>{{ equipe.nom }}</td>
          <td>{{ equipe.abreviation }}</td>
          <td>
            <div *ngIf="equipe.laboratoire">
              <a [routerLink]="['/laboratoire', equipe.laboratoire?.id, 'view']">{{ equipe.laboratoire?.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/equipe', equipe.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/equipe', equipe.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(equipe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
