<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-etablissement-heading"
        data-cy="EtablissementCreateUpdateHeading"
        jhiTranslate="doctorantApp.etablissement.home.createOrEditLabel"
      >
        Create or edit a Etablissement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.etablissement.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.etablissement.ville" for="field_ville">Ville</label>
          <input type="text" class="form-control" name="ville" id="field_ville" data-cy="ville" formControlName="ville" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.etablissement.universite" for="field_universite">Universite</label>
          <input
            type="text"
            class="form-control"
            name="universite"
            id="field_universite"
            data-cy="universite"
            formControlName="universite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.etablissement.addresse" for="field_addresse">Addresse</label>
          <input type="text" class="form-control" name="addresse" id="field_addresse" data-cy="addresse" formControlName="addresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="doctorantApp.etablissement.formationDoctorant" for="field_formationDoctorant"
            >Formation Doctorant</label
          >
          <select
            class="form-control"
            id="field_formationDoctorant"
            data-cy="formationDoctorant"
            name="formationDoctorant"
            formControlName="formationDoctorant"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                formationDoctorantOption.id === editForm.get('formationDoctorant')!.value?.id
                  ? editForm.get('formationDoctorant')!.value
                  : formationDoctorantOption
              "
              *ngFor="let formationDoctorantOption of formationDoctorantsSharedCollection; trackBy: trackFormationDoctorantById"
            >
              {{ formationDoctorantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
