<div>
  <h2 id="page-heading" data-cy="ChefLabHeading">
    <span jhiTranslate="doctorantApp.chefLab.home.title">Chef Labs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.chefLab.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chef-lab"
        [routerLink]="['/chef-lab/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="doctorantApp.chefLab.home.createLabel"> Create a new Chef Lab </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chefLabs?.length === 0">
    <span jhiTranslate="doctorantApp.chefLab.home.notFound">No chefLabs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chefLabs && chefLabs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chefLab.dateDebut">Date Debut</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chefLab.dateFin">Date Fin</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chefLab.extraUser">Extra User</span></th>
          <th scope="col"><span jhiTranslate="doctorantApp.chefLab.laboratoire">Laboratoire</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chefLab of chefLabs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chef-lab', chefLab.id, 'view']">{{ chefLab.id }}</a>
          </td>
          <td>{{ chefLab.dateDebut | formatMediumDate }}</td>
          <td>{{ chefLab.dateFin | formatMediumDate }}</td>
          <td>
            <div *ngIf="chefLab.extraUser">
              <a [routerLink]="['/extra-user', chefLab.extraUser?.id, 'view']">{{ chefLab.extraUser?.cin }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chefLab.laboratoire">
              <a [routerLink]="['/laboratoire', chefLab.laboratoire?.id, 'view']">{{ chefLab.laboratoire?.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chef-lab', chefLab.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chef-lab', chefLab.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chefLab)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
