<div >
  <h2 id="page-heading" data-cy="PublicationHeading">
    <span jhiTranslate="doctorantApp.publication.home.title">Publications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="doctorantApp.publication.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-publication"
        [routerLink]="['/publication/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer une publication </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="publications?.length === 0">
    <span jhiTranslate="doctorantApp.publication.home.notFound">No publications found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="publications && publications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr>
        <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.publication.titre">Titre</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.publication.date">Date</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.publication.description">Description</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.publication.type">Type</span></th>
        <th scope="col"><span jhiTranslate="doctorantApp.publication.article">Article</span></th>
        <th scope="col"><span>Co-auteur</span></th>
        <th scope="col"><span>Co-auteur externe</span></th>
        <th scope="col"><span >Crée par</span></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let publication of publications; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/publication', publication.id, 'view']">{{ publication.id }}</a>
        </td>
        <td>{{ publication.titre }}</td>
        <td>{{ publication.date }}</td>
        <td>{{ publication.description }}</td>
        <td>{{ publication.type }}</td>
        <td>
          <a
            *ngIf="publication.article"
            (click)="openFile(publication.article, publication.articleContentType)"
            jhiTranslate="entity.action.open"
          >open</a
          >
          <span *ngIf="publication.article">{{ publication.articleContentType }}, {{ byteSize(publication.article) }}</span>
        </td>
        <td>
          <span *ngFor="let chercheur of publication.chercheurs; let last = last"> {{ chercheur.login }}{{ last ? '' : ', ' }} </span>
        </td>
        <td>
            <span *ngFor="let chercheurExterne of publication.chercheurExternes; let last = last">
              <a class="form-control-static" [routerLink]="['/chercheur-externe', chercheurExterne.id, 'view']">{{ chercheurExterne.email }}</a
              >{{ last ? '' : ', ' }}
            </span>
        </td>
        <td>
          {{ publication.user?.login }}
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/publication', publication.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/publication', publication.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit" (click)="delete(publication)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *jhiHasAnyAuthority="'ROLE_USER'">
  <div class="d-flex justify-content-center" *ngIf="doctorant.etatDossier==0 || doctorant.etatDossier==null " >
    <p style="color: #ff0000"> Votre dossier est en cours de traitement ....</p>
  </div>
</div>
