<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="promotion">
      <h2 data-cy="promotionDetailsHeading"><span jhiTranslate="doctorantApp.promotion.detail.title">Promotion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ promotion.id }}</span>
        </dd>
        <dt><span jhiTranslate="doctorantApp.promotion.annee">Annee</span></dt>
        <dd>
          <span>{{ promotion.annee }}</span>
        </dd>
        <dt><span jhiTranslate="doctorantApp.promotion.nom">Nom</span></dt>
        <dd>
          <span>{{ promotion.nom }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/promotion', promotion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
